*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3ede5;
    margin-inline: 10px;
}

header{
    width: 100%;
    max-width: calc(100% - 200px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin: 10px;
    position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 1.5rem;
    position: relative;
}

nav a, .cta a{
    text-decoration: none;
    color: #6c6c6c;
}

.cta{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.cta-btn, .main-text a{
    background-color: #133416;
    color: #fff !important;
    padding: 15px 30px;
    border-radius: 5px;
    width: fit-content;
    text-decoration: none;
}

.products-wrapper{
    position: absolute;
    background-color: #fff;
    width: 450px;
    right: 20px;
    top: 40px;
    padding: 40px;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease;
}

.products-wrapper::before{
    content:'';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #fff;
    top: -10px;
    left: 100px;
    rotate: 45deg;
    border-radius: 5px;

}

.products-label{
    display: none;
}


.products-label p{
    font-size: .9rem;
    color: #6c6c6c;
}


.products:not(:last-child){
    margin-bottom: 15px;
}

.product-title{
    display: flex;
    align-items: center;
    gap: .3rem;
}

.products h2, .products p{
    font-size: .9rem;
}

.products h2{
    color: #0b2942;
}

.products p{
    margin-left: 30px;
    line-height: 20px;
}


.menu{
    display: none;
}

@media (hover:hover){
    
#products:hover ~ .products-wrapper, .products-wrapper:hover{
    visibility: visible;
    opacity: 1;
}
}


main{
    width: 100%;
    max-width: calc(100% - 200px);
    display: flex;
    min-height: 100vh;
}

.main-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.main-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width:700px;
}

.main-text h1{
    font-size: 3.5rem;
}

.main-text span{
    color: #f7b300;
}

.main-text p{
    line-height: 25px;
    color: #6c6c6c;
}




.main-img img{
    width: 100%;
    max-width: 350px;
}
.ratings{
    margin-top: 20px;
    display: flex;
    gap: .5rem;
}

footer{
    margin-top: 50px;
    text-align: center;
    color: #6c6c6c;
    padding: 10px 0;
}

.sponsors{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
@media only screen and (max-width:920px) {
    header{
        padding: 10px;
        max-width: 100%;
       
    }

    nav ul{
        position: static;
    }

    nav li, .cta{
        display: none;
    }

    .menu{
        display: block;
    }

    .products-wrapper{
        top: 10px;
        right: 0;
        width: 100%;
        max-width: 450px;
        padding: 30px ;
    }

    .products-wrapper::before{
        display: none;
    }

    .active{
        opacity: 1;
        visibility: visible;
    }

    .products-label{
        display: flex;
        justify-content: space-between;
    }

    main{
        max-width: 100%;
        align-items: flex-start;
        min-height: fit-content;
    }

    .main-text h1{
        font-size: 2rem;
    }

    .main-text p{
        font-size: .9rem;
    }

.ratings img{
    max-width:40px;
}

    .main-img{
        display: none;
    }
    .sponsors img{
        width: 100%;
        max-width: 150px;
    }
}